<div data-ng-app="app">
  <div ng-controller="DemoController as demo">
    <tabs>
      <pane title="Home" alias="home">
        Home pane
      </pane>

      <pane title="Recrutement" alias="recrutement">
        Recrutement pane
      </pane>

      <pane title="No Title">
        This is a no-title pane
      </pane>

      <pane title="Selectable Pane" alias="selectable-pane">
        This is a selectable pane
      </pane>

      <pane title="With <strong>html</strong>">
        with some html
      </pane>
    </tabs>

    <button type="button" data-ng-click="demo.selectPane()">select "Selectable Pane"</button>

    {{ 'Hey there! Wassup?'|truncate: 10 }}
    <div dropdown>
      <button dropdown-toggle>open dropdown</button>
      <div dropdown-menu>hello there, I am the dropdown menu</div>
    </div>

    <a href="https://www.wizbii.com/" popup>open wizbii in a popup</a>

    <hr>

    <input type="text" focus-me="demo.focusInput">
    <button ng-click="demo.setFocus()">focus input</button>

    <div dropdown dropdown-auto-close="true">
      <button dropdown-toggle>open dropdown</button>
      <div ng-click="demo.alert()" style="cursor:pointer;" dropdown-menu>hello there, I am the dropdown menu</div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="../dist/ng-toolbox.js"></script>
<script>
  angular
    .module('app', ['ng-toolbox', 'ngSanitize'])
    .controller('DemoController', [
      '$scope',
      function ($scope) {
        var vm = this;

        vm.focusInput = false;
        vm.setFocus = function () {
          vm.focusInput = true;
        };

        vm.alert = function () {
          alert("ok :-)")
        }

        vm.selectPane = function () {
          $scope.$emit('tabs.select', 'selectable-pane')
        }
      }
    ])
</script>
